<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguaMouse2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LanguaMouse2._0.Properties.Settings>
            <setting name="AutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PTT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HandsFree" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TalkBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="highlightColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="lineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BarFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </LanguaMouse2._0.Properties.Settings>
    </userSettings>
</configuration>